#main-container {
    margin-top: 50px;
}
.admin-img{
    max-width: 300px;
    max-height: 300px;
}
#map {
    width: 100%;
    height: 400px;
}
#table th.address, #table td.address{
    width: 250px;
}
.table.table-verical>tbody>tr>td,
.table.table-verical>tbody>tr>th,
.table.table-verical>tfoot>tr>td,
.table.table-verical>tfoot>tr>th,
.table.table-verical>thead>tr>td,
.table.table-verical>thead>tr>th {
    vertical-align: middle;
}
.full-width {
    width: 100%;
    display: block;
}
.td-centered{
     text-align: center;
}
.without-top {
    margin-top: 0;
}
.breadcrumb {
    margin-top: 20px;
}
.req_price {
    position: absolute;
    width: 100%;
    top: -56px;
    right: 2px;
}
.page-header{
    position: relative;
}
.show-grid {
    padding: 10px;
}
.show-grid_gray {
    background: #eee;
    padding: 20px 10px;
}
.label {
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 100;
}
.label-danger {
    border: 1px solid #f52f29;
}
.label-warning {
    border: 1px solid #c78e3c;
}
.label-primary {
    border: 1px solid #17578e;
}
.label-info {
    border: 1px solid #3a96b1;
}
.label-success {
    border: 1px solid #378837;
}
.label-gray{
    background-color: #eee;
    border: 1px solid #999;
    color: #999;
}
.label-light_gray{
    background-color: #eee;
    border: 1px solid #ccc;
    color: #ccc;
}
.preloader {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.29);
}
.preloader img{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.can-switch {
    cursor: pointer;
}
.load-file {
    display: none;
}
.empty-result {
    text-align: center;
}
.w10 {
    width: 10%;
}
.w30 {
    width: 30%;
}
.req-pr-li {
    line-height: 34px;
}
.preloaderFile {
    display: none;
}
.nav>li>a {
    padding-right: 10px;
    padding-left: 10px;
}
@media only screen and (max-width: 1024px) {
    .req_price {
        position: relative;
        top: auto;
        right: auto;
    }

    .statuses-wrapper .label {
        font-size: 20px;
    }

    .label {
        font-weight: 600;
    }

    .status-item {
        margin-bottom: 15px;
    }

    .stat-c {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}
